.brands {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.b-pivotaltracker {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.b-statuscake {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.b-splunk {
  width: 33px;
  height: 32px;
  background-position: -96px 0;
}
.b-redhat {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.b-googlecloud {
  width: 37px;
  height: 32px;
  background-position: -192px 0;
}
.b-mailchimp {
  width: 30px;
  height: 32px;
  background-position: -240px 0;
}
.b-jira {
  width: 31px;
  height: 32px;
  background-position: -288px 0;
}
.b-pma {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.b-monyog {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.b-oracle {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.b-solr {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.b-nutch {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.b-java {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.b-apache {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.b-tomcat {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.b-elastic {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.b-elasticsearch {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.b-artifactory {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.b-windows {
  width: 28px;
  height: 32px;
  background-position: -96px -48px;
}
.b-wordpress {
  width: 32px;
  height: 32px;
  background-position: -144px -48px;
}
.b-kibana {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.b-monit {
  width: 40px;
  height: 32px;
  background-position: -240px -48px;
}
.b-jenkins {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.b-ansible {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.b-mysql {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.b-mariadb {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.b-nginx {
  width: 32px;
  height: 32px;
  background-position: -480px -48px;
}
.b-matomo {
  width: 32px;
  height: 32px;
  background-position: -528px -48px;
}
.b-centos {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}
.b-slack {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}
.b-tierpoint {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}
.b-rlang {
  width: 41px;
  height: 32px;
  background-position: 0 -96px;
}
.b-azure {
  width: 32px;
  height: 32px;
  background-position: -96px -96px;
}
.b-aws {
  width: 32px;
  height: 32px;
  background-position: -144px -96px;
}
.b-composer {
  width: 32px;
  height: 32px;
  background-position: -192px -96px;
}
.b-daybreak {
  width: 32px;
  height: 32px;
  background-position: -240px -96px;
}
.b-docker {
  width: 32px;
  height: 32px;
  background-position: -288px -96px;
}
.b-gitlab {
  width: 32px;
  height: 32px;
  background-position: -336px -96px;
}
.b-netezza {
  width: 32px;
  height: 32px;
  background-position: -384px -96px;
}
.b-outlook {
  width: 32px;
  height: 32px;
  background-position: -432px -96px;
}
.b-planview {
  width: 32px;
  height: 32px;
  background-position: -480px -96px;
}
.b-sendgrid {
  width: 32px;
  height: 32px;
  background-position: -528px -96px;
}
.b-shrine {
  width: 32px;
  height: 32px;
  background-position: -576px -96px;
}
.b-thousandeyes {
  width: 32px;
  height: 32px;
  background-position: -624px -96px;
}
.b-accellion {
  width: 32px;
  height: 32px;
  background-position: -672px -96px;
}
.b-box {
  width: 32px;
  height: 32px;
  background-position: -720px -96px;
}
.b-f5 {
  width: 32px;
  height: 32px;
  background-position: 0 -144px;
}
.b-twilio {
  width: 32px;
  height: 32px;
  background-position: -48px -144px;
}
.b-stonebranch {
  width: 32px;
  height: 32px;
  background-position: -96px -144px;
}
.b-xmatters {
  width: 32px;
  height: 32px;
  background-position: -144px -144px;
}

