$icomoon-font-family: "brands" !default;
$icomoon-font-path: "fonts" !default;

$b-pivotaltracker: "\e900";
$b-statuscake: "\e908";
$b-splunk: "\e909";
$b-redhat: "\e905";
$b-googlecloud: "\e90a";
$b-mailchimp: "\e916";
$b-jira: "\e915";
$b-pma: "\e919";
$b-monyog: "\e91a";
$b-oracle: "\e90d";
$b-solr: "\e90e";
$b-nutch: "\e901";
$b-java: "\e912";
$b-jdk: "\e912";
$b-jre: "\e912";
$b-apache: "\e902";
$b-tomcat: "\e90f";
$b-elastic: "\e910";
$b-elasticsearch: "\e911";
$b-artifactory: "\e917";
$b-windows: "\e918";
$b-wordpress: "\e914";
$b-kibana: "\e91b";
$b-monit: "\e91c";
$b-mmonit: "\e91c";
$b-jenkins: "\e91d";
$b-ansible: "\e903";
$b-mysql: "\e904";
$b-mariadb: "\e906";
$b-nginx: "\e907";
$b-tierpoint: "\e90b";
$b-slack: "\e90c";
$b-matomo: "\e913";
$b-centos: "\e91e";

