.brands {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.b-name {
  font-size: 32px;
  color: red;
}
========================================== */

.b-splunk {
  width: 1.02734375em;
}

.b-googlecloud {
  width: 1.1474609375em;
}

.b-mailchimp {
  width: 0.9521484375em;
}

.b-jira {
  width: 0.9619140625em;
}

.b-windows {
  width: 0.875em;
}

.b-monit {
  width: 1.248046875em;
}
