@font-face {
  font-family: 'brands';
  src:  url('fonts/brands.eot?79puz6');
  src:  url('fonts/brands.eot?79puz6#iefix') format('embedded-opentype'),
    url('fonts/brands.ttf?79puz6') format('truetype'),
    url('fonts/brands.woff?79puz6') format('woff'),
    url('fonts/brands.svg?79puz6#brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

.brands {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-pivotaltracker:before {
  content: "\e900";
}
.b-statuscake:before {
  content: "\e902";
}
.b-splunk:before {
  content: "\e901";
}
.b-redhat:before {
  content: "\e905";
}
.b-googlecloud:before {
  content: "\e906";
}
.b-mailchimp:before {
  content: "\e907";
}
.b-jira:before {
  content: "\e908";
}
.b-pma:before {
  content: "\e903";
}
.b-monyog:before {
  content: "\e904";
}
.b-mariadb:before {
  content: "\e909";
}
.b-mysql:before {
  content: "\e90a";
}
.b-oracle:before {
  content: "\e90b";
}
.b-solr:before {
  content: "\e90c";
}
.b-java:before {
  content: "\e90d";
}
.b-jdk:before {
  content: "\e90d";
}
.b-jre:before {
  content: "\e90d";
}
.b-apache:before {
  content: "\e90e";
}
.b-tomcat:before {
  content: "\e90f";
}
.b-elastic:before {
  content: "\e910";
}
.b-elasticsearch:before {
  content: "\e911";
}
.b-artifactory:before {
  content: "\e912";
}
.b-windows:before {
  content: "\e913";
}
.b-wordpress:before {
  content: "\e914";
}
.b-kibana:before {
  content: "\e915";
}
