@import "variables";

@font-face {
  font-family: 'brands';
  src:  url('#{$icomoon-font-path}/brands.eot?v4o21d');
  src:  url('#{$icomoon-font-path}/brands.eot?v4o21d#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/brands.ttf?v4o21d') format('truetype'),
    url('#{$icomoon-font-path}/brands.woff?v4o21d') format('woff'),
    url('#{$icomoon-font-path}/brands.svg?v4o21d#brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

.brands {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-pivotaltracker {
  &:before {
    content: $b-pivotaltracker;
  }
}
.b-statuscake {
  &:before {
    content: $b-statuscake;
  }
}
.b-splunk {
  &:before {
    content: $b-splunk;
  }
}
.b-redhat {
  &:before {
    content: $b-redhat;
  }
}
.b-googlecloud {
  &:before {
    content: $b-googlecloud;
  }
}
.b-mailchimp {
  &:before {
    content: $b-mailchimp;
  }
}
.b-jira {
  &:before {
    content: $b-jira;
  }
}
.b-pma {
  &:before {
    content: $b-pma;
  }
}
.b-monyog {
  &:before {
    content: $b-monyog;
  }
}

