@import "variables";

@font-face {
  font-family: 'brands';
  src:  url('#{$icomoon-font-path}/brands.eot?sa0gy1');
  src:  url('#{$icomoon-font-path}/brands.eot?sa0gy1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/brands.ttf?sa0gy1') format('truetype'),
    url('#{$icomoon-font-path}/brands.woff?sa0gy1') format('woff'),
    url('#{$icomoon-font-path}/brands.svg?sa0gy1#brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

.brands {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.b-pivotaltracker {
  &:before {
    content: unicode($b-pivotaltracker); 
  }
}
.b-statuscake {
  &:before {
    content: unicode($b-statuscake); 
  }
}
.b-splunk {
  &:before {
    content: unicode($b-splunk); 
  }
}
.b-redhat {
  &:before {
    content: unicode($b-redhat); 
  }
}
.b-googlecloud {
  &:before {
    content: unicode($b-googlecloud); 
  }
}
.b-mailchimp {
  &:before {
    content: unicode($b-mailchimp); 
  }
}
.b-jira {
  &:before {
    content: unicode($b-jira); 
  }
}
.b-pma {
  &:before {
    content: unicode($b-pma); 
  }
}
.b-monyog {
  &:before {
    content: unicode($b-monyog); 
  }
}
.b-mariadb {
  &:before {
    content: unicode($b-mariadb); 
  }
}
.b-mysql {
  &:before {
    content: unicode($b-mysql); 
  }
}
.b-oracle {
  &:before {
    content: unicode($b-oracle); 
  }
}
.b-solr {
  &:before {
    content: unicode($b-solr); 
  }
}
.b-java {
  &:before {
    content: unicode($b-java); 
  }
}
.b-jdk {
  &:before {
    content: unicode($b-jdk); 
  }
}
.b-jre {
  &:before {
    content: unicode($b-jre); 
  }
}
.b-apache {
  &:before {
    content: unicode($b-apache); 
  }
}
.b-tomcat {
  &:before {
    content: unicode($b-tomcat); 
  }
}
.b-elastic {
  &:before {
    content: unicode($b-elastic); 
  }
}
.b-elasticsearch {
  &:before {
    content: unicode($b-elasticsearch); 
  }
}
.b-artifactory {
  &:before {
    content: unicode($b-artifactory); 
  }
}
.b-windows {
  &:before {
    content: unicode($b-windows); 
  }
}
.b-wordpress {
  &:before {
    content: unicode($b-wordpress); 
  }
}
.b-kibana {
  &:before {
    content: unicode($b-kibana); 
  }
}
.b-monit {
  &:before {
    content: unicode($b-monit); 
  }
}
.b-mmonit {
  &:before {
    content: unicode($b-mmonit); 
  }
}
.b-jenkins {
  &:before {
    content: unicode($b-jenkins); 
  }
}

