@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5jq0fu');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5jq0fu#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5jq0fu') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5jq0fu') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5jq0fu##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.brands {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.b-pivotaltracker {
  &:before {
    content: $b-pivotaltracker; 
  }
}
.b-statuscake {
  &:before {
    content: $b-statuscake; 
  }
}
.b-splunk {
  &:before {
    content: $b-splunk; 
  }
}
.b-redhat {
  &:before {
    content: $b-redhat; 
  }
}
.b-googlecloud {
  &:before {
    content: $b-googlecloud; 
  }
}
.b-mailchimp {
  &:before {
    content: $b-mailchimp; 
  }
}
.b-jira {
  &:before {
    content: $b-jira; 
  }
}
.b-pma {
  &:before {
    content: $b-pma; 
  }
}
.b-monyog {
  &:before {
    content: $b-monyog; 
  }
}
.b-oracle {
  &:before {
    content: $b-oracle; 
  }
}
.b-solr {
  &:before {
    content: $b-solr; 
  }
}
.b-nutch {
  &:before {
    content: $b-nutch; 
  }
}
.b-java {
  &:before {
    content: $b-java; 
  }
}
.b-jdk {
  &:before {
    content: $b-jdk; 
  }
}
.b-jre {
  &:before {
    content: $b-jre; 
  }
}
.b-apache {
  &:before {
    content: $b-apache; 
  }
}
.b-tomcat {
  &:before {
    content: $b-tomcat; 
  }
}
.b-elastic {
  &:before {
    content: $b-elastic; 
  }
}
.b-elasticsearch {
  &:before {
    content: $b-elasticsearch; 
  }
}
.b-artifactory {
  &:before {
    content: $b-artifactory; 
  }
}
.b-windows {
  &:before {
    content: $b-windows; 
  }
}
.b-wordpress {
  &:before {
    content: $b-wordpress; 
  }
}
.b-kibana {
  &:before {
    content: $b-kibana; 
  }
}
.b-monit {
  &:before {
    content: $b-monit; 
  }
}
.b-mmonit {
  &:before {
    content: $b-mmonit; 
  }
}
.b-jenkins {
  &:before {
    content: $b-jenkins; 
  }
}
.b-ansible {
  &:before {
    content: $b-ansible; 
  }
}
.b-mysql {
  &:before {
    content: $b-mysql; 
  }
}
.b-mariadb {
  &:before {
    content: $b-mariadb; 
  }
}

