$icomoon-font-path: "fonts" !default;

$b-pivotaltracker: "\e900";
$b-statuscake: "\e902";
$b-splunk: "\e901";
$b-redhat: "\e905";
$b-googlecloud: "\e906";
$b-mailchimp: "\e907";
$b-jira: "\e908";
$b-pma: "\e903";
$b-monyog: "\e904";

