$icomoon-font-path: "fonts" !default;

$b-pivotaltracker: \e900;
$b-statuscake: \e902;
$b-splunk: \e901;
$b-redhat: \e905;
$b-googlecloud: \e906;
$b-mailchimp: \e907;
$b-jira: \e908;
$b-pma: \e903;
$b-monyog: \e904;
$b-mariadb: \e909;
$b-mysql: \e90a;
$b-oracle: \e90b;
$b-solr: \e90c;
$b-java: \e90d;
$b-jdk: \e90d;
$b-jre: \e90d;
$b-apache: \e90e;
$b-tomcat: \e90f;
$b-elastic: \e910;
$b-elasticsearch: \e911;
$b-artifactory: \e912;
$b-windows: \e913;

