
@font-face {
    font-family:"brands";
    src:url("brands.woff2") format("woff2"),url("brands.woff") format("woff"),url("brands.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        